@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-sedgwick {
    font-family: var(--font-sedgwick);
  }
}

body {
  color: white
}

.slick-active > .dots {
  background-color: #ff7a00;
}
